* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    /* border: 1px solid black; */
}

.row {
    display: flex;
    height: 6.25vh;
    border: 1px dotted red;
}

.item {
    width: 6.25vw;
    border: 1px dotted blue;
}

.item:nth-child(2n) {
    background-color: grey;
}

/* div {
    width: auto;
    height: .0625vh;
} */