* {
    margin: 0;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    /* border: 1px solid black; */
}

.row {
    display: flex;
    height: 100%;
    /* border: 1px dotted red; */
}

.item {
    width: 100%;
    border: 1px solid black;
}

.mouseover {
    background-color: grey;
}

.button {
    height: 30px;
    width: 100px;
    margin: auto;
}

/* .item:nth-child(2n) {
    background-color: grey;
} */

/* div {
    width: auto;
    height: .0625vh;
} */